<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >My Portfolio</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- <h1>My Portfolio</h1>
    <h3>Full Stack Developer</h3> -->
    <br>
    <a href="#about" class="btn btn-dark btn-xlarge" id="find">Find Out More</a>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>My developer journey</h2>
        <p class="lead">I started out with computer repair &amp; building high end gaming computers from my junior high school days about 15 years ago. After building computers for so long, I became interested in web design after which I encountered valuable resources. Among them were Coding Dojo an onsite bootcamp, Udemy and FreeCodeCamp.
          The Coding Dojo focused on laying a foundation for web development. The instructors were awesome and very knowledgeable. I started out by learning the fundamentals of HTML, CSS and JavaScript. The instructors taught us three full stacks including Python, M.E.A.N and Ruby on Rails. After the first few weeks of building cool web apps with different frameworks, my love affair with web design began. I would literally spend hours working on projects while implimenting new features and techniques. Web design is now my obsession and without it feels like a part of me is missing.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->

<!-- Callout -->
<aside class="callout">
  <div class="text-vertical-center">

  </div>
</aside>

<!-- Call to Action -->
<aside class="call-to-action">
  <div class="container">
    <div class="row">

    </div>
  </div>
</aside>
<a id="portfolio"></a>
<div class="workGroup1">
  <div class="items">
    <%=image_tag("https://github.com/cwilliams3579/my-projects/blob/master/Api/Screenshot_2016-11-08_10-35-18.png?raw=true", :class => "item item1 img-responsive")%>

    <img src="https://github.com/cwilliams3579/my-projects/blob/master/Flask/NinjaGold/ninja-gold.png?raw=true" alt="ninja-gold" class="item item2 img-responsive">

    <img src="https://github.com/cwilliams3579/my-projects/blob/master/jQuery/Disappearing%20Ninja/Screenshot_2016-11-08_10-50-22.png?raw=true" alt="disappering-mario" class="item item3 img-responsive">
    <img src="https://github.com/cwilliams3579/my-projects/blob/master/jQuery/SortableNinja/Screenshot_2016-11-08_11-34-39.png?raw=true" alt="sortable-ninja" class="item item4 img-responsive">
    <img src="https://github.com/cwilliams3579/my-projects/blob/master/jQuery/hover/Screenshot_2016-11-08_11-00-21.png?raw=true" alt="hover" class="item item5 img-responsive">
    <img src="https://github.com/cwilliams3579/my-projects/blob/master/Flask/NinjaGold/Screenshot_2016-11-08_13-11-41.png?raw=true" alt="ninja-gold" class="item item6 img-responsive">
    <img src="https://github.com/cwilliams3579/my-projects/blob/master/jQuery/NinjaToCat/Screenshot_2016-11-08_11-27-37.png?raw=true" alt="ninja-cat" class="item item7 img-responsive">
    <img src="https://github.com/cwilliams3579/AlphaBlog/blob/master/blogger.png?raw=true" alt="" class="item item8 img-responsive">
    <img src="https://github.com/cwilliams3579/Screenshots/blob/master/random-quote.png?raw=true" alt="" class="item item9 img-responsive">

    <%= image_tag("SpaceTroopers.png",  :class =>"item item10 img-responsive") %>
    <img src="https://github.com/cwilliams3579/Screenshots/blob/master/number-game-rails.png?raw=true" alt="number-game" class="item item11 img-responsive">
    <img src="https://github.com/cwilliams3579/Screenshots/blob/master/pokedex.png?raw=true" alt="pokedex" class="item item12 img-responsive">
  </div>
</div>
<br><br><br>
<div class="text-center container-fluid">
  <div class="row">
    <div class="border col-xs-3" id="left-side">
      <%= video_tag "StarShipTroopers.mp4", :id => "video1", :size => "320x240", :controls => true %>
      <hr>
      <%= video_tag "ninja-gold.mp4", :id => "video2", :size => "320x240", :controls => true %>
    </div>
    <div class="border col-xs-3" id="right-side">
      <%= video_tag "StarShipTroopers.mp4", :id => "video1", :size => "320x240", :controls => true %>
      <hr>
      <%= video_tag "ninja-gold.mp4", :id => "video2", :size => "320x240", :controls => true %>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer>
  <a href="#" id="contact"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw fa-2x"></i><a href="mailto:clevelandwilliams3579@gmail.com.com" id="mail">clevelandwilliams3579@gmail.com</a>
            <li id="number"><i class="fa fa-phone fa-fw fa-2x"></i> (407) 267-4838
            </li>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/tony.gilbert.9440"><i class="fa fa-facebook fa-fw fa-3x" target="_blank"></i></a>
          </li>
          <li>
            <a href="https://github.com/cwilliams3579" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="http://codepen.io/cwilliams3579/" target="_blank"><i class="fa fa-codepen fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.freecodecamp.com/cwilliams3579" target="_blank"><i class="fa fa-fire fa-fw fa-3x" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr class="small">
        <a href="#top">Back to top</a>
      </div>
    </div>
  </div>
</footer>
<!-- Custom Theme JavaScript -->
